h1 {
    text-align: center;
    font-variant: small-caps;
}

h2 {
    text-decoration: underline;
}

h3 {
    font-style: italic;
}

p {
    margin-left: 10px;
}
body {
    counter-reset: h2counter;
}
h1 {
    counter-reset: h2counter;
}
h2:before {
    content: counter(h2counter) ".\0000a0\0000a0";
    counter-increment: h2counter;
    counter-reset: h3counter;
}
